.App {
  max-width: 60rem;
  margin: 8rem auto;
}

.controls {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.result {
  height: 40px;
}

.box {
  min-height: 55rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.url {
  font-size: 2rem;
}



.segment-label {
  margin-bottom: 0px;
  margin-right: 0.5rem;
  padding-top: 1px;
}

.input {
  margin-bottom: 0px !important;
}

.input-error {
  height: 5rem;
  color: var(--color-error)
}

.error-box {
  height: 3rem;
  display: flex;
  flex-direction: row-reverse;
  color: var(--color-error);
}

