:root {
    color-scheme: light dark;

    /* 
    milligram colors reference pallette
    changing these wont override default milligram colors 
    */
    --color-initial: #fff;
    --color-primary: #9b4dca;
    --color-secondary: #606c76;
    --color-tertiary: #f4f5f6;
    --color-quaternary: #d1d1d1;
    --color-quinary: #e1e1e1;

    /* app colors */
    --color-background: var(--color-initial);
    --color-error: crimson;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* app colors */
        --color-background: #000;
    }
}