services:
  go-app:
    depends_on:
      redis-storage-0:
        condition: service_started
      redis-storage-1:
        condition: service_started
      redis-storage-2:
        condition: service_started
    environment:
      REDIS_CONFIG: '[{"name":"redis-storage-0","port":6379,"password":"redis-storage-0"},{"name":"redis-storage-1","port":6379,"password":"redis-storage-1"},{"name":"redis-storage-2","port":6379,"password":"redis-storage-2"}]'
    image: walenpiotr/url-shortener:1.1.3
    ports:
    - target: 8000
      published: "8000"
  redis-storage-0:
    command:
    - redis-server
    - --save
    - "20"
    - "1"
    - --loglevel
    - warning
    - --requirepass
    - redis-storage-0
    image: redis:7.0-alpine
    restart: always
  redis-storage-1:
    command:
    - redis-server
    - --save
    - "20"
    - "1"
    - --loglevel
    - warning
    - --requirepass
    - redis-storage-1
    image: redis:7.0-alpine
    restart: always
  redis-storage-2:
    command:
    - redis-server
    - --save
    - "20"
    - "1"
    - --loglevel
    - warning
    - --requirepass
    - redis-storage-2
    image: redis:7.0-alpine
    restart: always
