version: "3.9"
services:
  go-app:
    container_name: go-app
    build: 
      context: .
    environment:
      - REDIS_HOST=redis-storage
      - REDIS_PORT=6379
      - REDIS_PASSWORD=1bfb0c6dbfb9d4f7cd0506ae9e88ffb3
    ports:
      - "8000:8000"
    depends_on:
      - redis-storage

  redis-storage:
    image: redis:7.0-alpine
    restart: always
    container_name: redis-storage
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass 1bfb0c6dbfb9d4f7cd0506ae9e88ffb3
    volumes: 
      - ./redis-data:/data


